.style-header{
    left: 54px;
    right: 0px;
    background: #dc3545;
    color: #fff;
    border-bottom-right-radius: 10px;
    height: 80px;
    border-bottom-left-radius: 10px;
    margin-right: 80px;
}

.nav-item.header > a{
    color: #fff !important;
    font-weight: bold;
}
.nav-item.header > i{
    color: #fff !important;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}

.brand-text{
    color: #000;
    font-weight: bold!important;
}

.rounded{
    border-radius: 10px !important;
}

.table th{
    background-color: #fff;
    color: #000;
}
.page-item.active .page-link{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-outline-primary{
    background-color: transparent !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;

}

.size-btn{
    width: 120px;
}

.modal-content{
    border: none !important;
}

.rounded-modal{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.btn-secondary{
    border: none !important;
    color: #707070!important;
    background-color: #e6e7e8!important;
}

.btn-primary{
    border: none;
    color: #fff !important;
    background-color: #dc3545 !important;
}

.name-user:first-letter {
    text-transform: uppercase
  }

.toastify{
    top: 100px !important;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
background-color: #f8bb86 !important;
}

.btn-outline-white{
    border-color: #fff !important;
    color: #fff !important;
}

.table th, .table td{
    padding: 0.9375rem 0 0.9375rem 0.9375rem;
}

.close{
    border-radius: 50%;
    background-color: #f27474 !important;
    border: none !important;
    color: #fff;
    width: 30px !important;
    height: 30px !important;
}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.close > span{
    margin-top: -5px;
}

.ml-5{
    margin-left: 50px;
}